.black_text,.card_p,.client_box h1,.collaborate_ul h5,.h_2,.h_3,.h_4,.join,.main_h,.red_text,.transparent_text{font-family:Inter}.menu,.menu_c,.menu_ul li{font-size:14px;letter-spacing:.01em;color:#000}.ai_h,.ai_p,.black_text,.card_p,.client_box h1,.client_box p,.dark_btn,.domain_text,.h_2,.h_4,.icon,.join,.main_h,.main_p,.red_text,.technoloy_text,.web_type_ul h1{letter-spacing:-.02em}.camera_img,.paint_vidio{object-position:top;object-fit:cover}#scrolling-image,.camera_img,.cleint_vidio,.crop_vidio,.paint_vidio,.small_vidio,.vidio{object-fit:cover}html{font-family:Inter,sans-serif}.c_ul,.c_ul_1{width:63%!important}.vidio{width:100%;height:98vh}.overlay{background-color:rgba(255,255,255,.87)}.color_img{width:43%;height:70vh;left:calc(50% - 20.5%);bottom:12.2%}.mobile_1,.mobile_3{width:37%;border:8px solid #fff;border-radius:30px;height:100%}.mobile_1{border-right:4px solid #fff;padding-left:2rem!important}.mobile_3{border-left:4px solid #fff;padding-right:2rem!important}.mobile_2{height:100%;width:26%;border:8px solid #fff;border-left:4px solid #fff;border-right:4px solid #fff;border-radius:30px}.ul_1{height:98.3%!important;overflow:hidden}.nav_ul_1{background-color:#000;border-radius:30px;padding:2px;margin-top:-17px;margin-left:3px}.mobile_1::before,.mobile_3::after,.space{background-color:#fff;position:absolute!important}.main_ul{height:64vh}.logo_ul_1,.logo_ul_2{width:33.33%}.main_h{font-size:72px;font-weight:300;line-height:61px}.ai_h,.technoloy_text{font-weight:700}.main_p{font-size:14px;line-height:15.94px;color:#a3a3a3!important}.ai_h,.ai_p,.btn_round,.h_2,.icon{color:#000}.text_overlay a{color:#fff!important;left:96%}.card_ul .card_overlay,.card_ul .card_overlay_1{justify-content:space-between}.technoloy_text{font-size:12px;color:#000}.ai_img{height:100%}.vidio_cover{width:157px;height:311px}.ai_vidio{width:100%;border-radius:18px}.ai_h{font-size:14px;line-height:16.94px}.ai_p{font-size:12px;line-height:14.52px}.arrow_giff{width:30px;right:12px}.space{clip-path:polygon(8% 0,105% -8%,0% 100%);width:40px;height:40px;left:-.5%;top:-1%}.mobile_1::before{content:"";clip-path:polygon(45% 0,92% 59%,0% 94%);width:59px;height:58px;left:-4%;bottom:-5%}.mobile_1::after,.mobile_2::after,.mobile_2::before,.mobile_3::before,.space2{height:40px;background-color:#fff;position:absolute!important}.mobile_1::after,.mobile_2::after{content:"";clip-path:polygon(49% 16%,0 100%,100% 100%);width:40px;bottom:-1.5%}.mobile_1::after{right:-1.9%}.mobile_2::after{right:-3.8%}.mobile_2::before,.mobile_3::before{clip-path:polygon(0 8%,49% 92%,100% 9%);top:-1.8%;content:""}.mobile_2::before{width:41px;left:-3.9%}.mobile_3::before,.space2{width:40px}.mobile_3::before{left:-2.3%}.mobile_3::after{content:"";clip-path:polygon(87% 0,0 100%,100% 83%);width:59px;height:58px;right:-2.5%;bottom:-4%}.after::after,.after::before,.before::after,.before::before{content:"";position:absolute;width:4px;height:4px;border-radius:50%;background-color:#ec310d}.after::after,.after::before{right:-1.1%}.space2{clip-path:polygon(100% 1%,0 0,100% 100%);right:-.5%;top:-1%}.text_main,.text_main_2{margin-left:auto;top:-13%}.h_2{font-size:77px;font-weight:300;line-height:86px}.btn_round,.btn_round_1{padding:7px,12px;font-size:12px;line-height:12px;letter-spacing:-.01em}.h_2 span{background-color:#fff5f1}.before{border-left:1px solid #ec310d;position:relative}.before::before{left:-.59%;top:0}.before::after{left:-.59%;top:88%}.after::before{top:0}.after::after{bottom:0}.after{border-right:1px solid #ec310d;height:20%!important}.circle_giff{width:142px;height:142px;margin-left:auto}.text_main{width:fit-content;right:0}.small_vidio{width:100%;height:145px;border-radius:10px}.btn_round{border-radius:140px 0 0;border:1px solid #000;width:fit-content;cursor:auto!important}.btn_round_1{border-radius:140px 0 0;border:1px solid #fff}.red_text{font-size:20px;line-height:24.2px;color:#ec310d}.black_text{line-height:21.76px;font-size:15.3px!important}.h_3,.transparent_text{font-size:32px;letter-spacing:-.02em}.black_section{background-color:#000;border-radius:12px}.right_img_1{width:65%}.paint_vidio{height:528px;border-radius:12px}.h_3{line-height:38px;font-weight:400}.transparent_text{line-height:41px;background:linear-gradient(270.2deg,#ec310d 6.04%,#d1d1d1 66.45%);-webkit-background-clip:text!important;background-clip:text!important;color:transparent!important}.domain_text{font-size:31px;font-weight:400;line-height:44px}.card_p{font-size:24px;font-weight:600;line-height:36px}.card_overlay_1{border-radius:13px}.circular_img_li{width:33%}.circular_overlay{background-color:rgba(0,0,0,.596);border-radius:7px;height:96%!important}.black_card,.wrk_p_btn{background-color:#000}.person_img{width:400px;border-radius:16px}.text_main_2{width:fit-content;right:29%}.web_type_ul h1{font-size:40px;font-weight:400;line-height:60px}.cleint_vidio{width:385px!important;height:385px;border-radius:50%;border:2px solid #fee4e2}.client_box h1{font-size:32px;line-height:41px;font-weight:400}.client_box p,.icon{font-size:14px}.client_box p{line-height:17.64px}.stars_img{right:-2%;top:35%}.client_img{left:0;top:25%}.success_img{left:10%;bottom:10%}.card_1{width:100%}.laptop_img{height:377px;width:100%}.crop_vidio{height:215px;border-radius:20px;margin-bottom:11px!important}.border_1,.border_2{border-left:1px solid #dee2e6!important;height:80.7%;top:8.5%}.join,.n_learn_more:hover{color:#ec310d}.explore_img{right:3%;bottom:7%}.border_1{left:33.2%}.border_2{right:33.2%}.vector{right:28%}.btn_radiant:hover{background-color:#ec310d;border:1px solid #ec310d;color:#fff}.btn_radiant{border:1px solid #000;background:#000;color:#fff;position:relative;margin-bottom:1rem!important;font-size:11px}.no-hover:hover{border:1px solid #000!important;background:#000!important}.btn_radiant::before{top:-1px}.btn_radiant::after{bottom:-1px}.h_4{font-weight:300;line-height:85px;font-size:83px}.camera_img{Width:155px!important;Height:80px;border-radius:110px;right:13%;bottom:-7%}.hand_img{top:2%;right:16%;Height:80px}.dark_btn{width:330px;background:#000;font-size:24px;font-weight:600;line-height:36px}.black_text,.n_learn_more{font-weight:400}.arrow_giff_1{width:40px;top:23%;right:3%}.f_text_main,.w-fit-content{width:fit-content}.f_text_main{left:50%;transform:translateX(-53%)}.arrow_giff_2{width:72%}#scrolling-image{position:absolute;top:100%;left:50%;transform:translateX(-50%);z-index:2342435;Width:250px;Height:100px;border-radius:10px;object-position:left}.offcanvas{z-index:323344344554}.canvance_img{width:125px;height:43px}.btn:focus{box-shadow:none}.btn_round:hover{transition:1s}.arrow_giff_7{display:none}.wrk_p_btn{color:#fff}.large_col{width:62%}.small_col{width:38%}.card_ul li{width:25%}.card_ul li video{width:100%;object-fit:cover;height:212px;border-radius:13px}.bg_svg{right:25%;top:3%}.transparent_text br:first-child,.transparent_text br:nth-child(3),.transparent_text br:nth-child(5){display:none!important}.n_services .card{position:relative;padding:25px;border-radius:11px}.n_services{margin-bottom:13rem}.third_section{margin-top:9rem}.black_section_main{margin-top:10rem}.n_arrow{position:absolute;bottom:19px;right:20px}.n_learn_more{text-decoration:none;color:#ec310d;font-size:13px}.n_learn_more svg{width:10px!important;height:auto}.collaborate_ul .main_p{margin-bottom:.5rem}.n_serivces_h2,.pr_heading{font-weight:400;font-family:Inter}.pr_heading{font-size:33px}.n_serivces_h2{font-size:30px}section{overflow:hidden!important}.collaborate_ul h5{color:#000;font-weight:600}.mbl_subtract_img{width:216px}.n_giff_mbl{left:2px;width:fit-content;margin-right:auto;right:auto;top:4px;padding:12px}.align-items-baseline .main_p,.gray_card .main_p,.main_ul .main_p span,.paint_overlay .main_p{color:#000!important}

@media(max-width:1200px) {

    .large_col,
    .small_col {
        width: unset
    }

    .crop_vidio {
        margin-bottom: unset !important
    }

    .after::after,
    .after::before,
    .before::after,
    .before::before {
        display: none
    }
}
@media(max-width:1400px) {
    .contaner_width {
        max-width: 100%;
        width: 90%
    }

    .border_1,
    .border_2 {
        height: 79.5% !important;
        top: 9%
    }

    .mobile_2::before {
        left: -7.2%
    }

    .mobile_3::before {
        left: -5%
    }

    .mobile_1::after {
        right: -5.9%
    }

    .mobile_2::after {
        right: -6.8%
    }

    .laptop_img {
        height: 347px !important
    }

    .menu_ul {
        top: -27% !important
    }

    .vidio_cover {
        width: 150px;
        height: 300px
    }

    .arrow_giff {
        width: 30px;
        position: absolute;
        right: 14px
    }
}
@media(max-width:991px) {

    .loop_div,
    .main_ul {
        width: 100%
    }

    .loop_div .text_overlay_first p {
        font-size: unset !important
    }

    .btn_row button {
        font-size: 14px !important
    }

    .h_2 br,
    .main_h br,
    .main_p a,
    .mobile_3 {
        display: none !important
    }

    .text_overlay_first {
        left: 50% !important;
        transform: translateX(-76px)
    }

    .hand_img {
        right: 0
    }

    .paint_vidio {
        height: 566px
    }

    .main_ul .main_p {
        justify-content: center;
        text-align: center
    }

    .vector {
        right: 2%
    }

    .camera_img {
        Width: 158px !important
    }

    .border_1,
    .border_2,
    .c_arrow_mobile,
    .client_box h1 br,
    .main_ul li:nth-child(2),
    .mobile_1::after,
    .mobile_1::before,
    .mobile_2,
    .mobile_2::after,
    .mobile_2::before,
    .mobile_3::after,
    .mobile_3::before,
    .space,
    .space2 {
        display: none
    }

    .h_2 {
        font-size: 57px;
        line-height: 67px
    }

    .vidio_cover {
        height: 72.8%;
        display: block
    }

    .ai_img {
        height: 35vh
    }

    .mobile_1 {
        width: 100%;
        height: 50%;
        border: none;
        padding-left: 0 !important
    }

    .logo_ul_1,
    .logo_ul_2 {
        width: auto !important
    }

    .main_ul {
        padding-right: 17px !important;
        align-items: center;
        height: 45% !important;
        top: 35%
    }

    .color_img {
        width: 69%;
        height: auto;
        left: calc(50% - 34.5%);
        bottom: 11%
    }

    .ul_1 {
        flex-wrap: wrap;
        height: 120.3% !important
    }

    .technoloy_text {
        font-size: 17px;
        top: 38%
    }

    .small_vidio {
        height: 275px;
        border-radius: 17px
    }

    .laptop_img {
        height: 558px !important
    }

    .transparent_text {
        font-size: 17px;
        line-height: 39px
    }

    .text_main_2 {
        margin-left: unset
    }

    .card_ul li video {
        height: 249px
    }

    .card_ul {
        flex-wrap: wrap
    }

    .card_ul li {
        width: 49.4%
    }

    .web_type_ul h1 {
        font-size: 38px;
        line-height: 51px
    }

    .simple_img {
        height: 216px
    }

    .crop_vidio {
        margin-bottom: 11px !important
    }

    .client_box h1 {
        font-size: 24px
    }

    .cleint_vidio {
        width: 90% !important;
        height: 197px
    }

    .border_row::before {
        top: 11.5%
    }

    .border_row::after {
        bottom: 16%
    }

    .coluor_list_img {
        height: 19vh
    }

    .main_p {
        font-size: 23px;
        line-height: 37.94px
    }

    .navbar-toggler:focus {
        box-shadow: none
    }

    .navbar-toggler {
        padding: .25rem;
        border: 2px solid #ec310d;
        border-radius: 50%
    }

    .navbar-light .navbar-toggler {
        border: 0;
        animation-name: borders;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        animation-direction: normal;
        animation-timing-function: linear
    }
}
@media(min-width:1400px) and (max-width:1700px) {
    .color_img {
        width: 50%;
        height: 75vh;
        position: absolute;
        left: calc(50% - 24.5%);
        bottom: 10.2%
    }

    .h_4 {
        font-size: 74px
    }
}
@media(min-width:1000px) and (max-width:1100px) {
    .color_img {
        width: 48%;
        height: 46vh;
        position: absolute;
        left: calc(50% - 20.5%);
        bottom: 24.2%
    }
}
@media(min-width:1100px) and (max-width:1200px) {
    .color_img {
        width: 53%;
        height: 63vh;
        position: absolute;
        left: calc(50% - 20.5%);
        bottom: 17.2%
    }
}
@media(min-width:1200px) and (max-width:1300px) {
    .collaborate_ul h5 {
        font-size: 17px
    }

    .collaborate_ul img {
        width: 52px
    }

    .domain_text {
        white-space: nowrap
    }

    .color_img {
        position: absolute;
        left: calc(50% - 20.5%);
        bottom: 11.2%
    }
}
@media(min-width:1500px) and (max-width:2000px) {

    .black_text,
    .main_h,
    .main_ul .main_p {
        letter-spacing: -.02em
    }

    .main_ul .main_p {
        font-size: 17px;
        line-height: 19.94px;
        color: #a3a3a3 !important
    }

    .black_text {
        line-height: 21.76px;
        font-size: 16.3px !important;
        font-family: Inter;
        font-weight: 500
    }

    .red_text {
        font-size: 20px;
        line-height: 19.2px;
        color: #ec310d;
        font-family: Inter
    }

    .h_2 {
        font-size: 70px;
        line-height: 79px
    }

    .ai_vidio {
        background: #000 !important;
        padding: 8px 14px
    }

    .ai_p br {
        display: none
    }

    .mobile_3 {
        padding-right: 1rem !important
    }

    .h_4 {
        font-size: 63px
    }

    .vidio_cover {
        width: 135px;
        height: 285px
    }

    .ul_1 {
        height: 113% !important
    }

    .main_ul {
        height: 68vh
    }

    .mobile_1,
    .mobile_2,
    .mobile_3,
    .vidio {
        height: 51.2vw
    }

    .vidio {
        width: 100%;
        object-fit: cover
    }

    .color_img {
        width: clamp(1rem, 52vw, 64rem);
        height: auto;
        position: absolute;
        left: calc(50% - 26.5%);
        bottom: 8.2%
    }

    .c_arrow_mobile {
        width: 193px
    }

    .mobile_2::after {
        content: "";
        right: -4.8%
    }

    .mobile_1::after {
        content: "";
        right: -3.9%
    }

    .mobile_2::before {
        content: "";
        left: -4.9%;
        top: -.8%
    }

    .mobile_3::before {
        content: "";
        left: -3.3%;
        top: -1.8%
    }

    .main_h {
        font-size: 78px;
        font-weight: 300;
        line-height: 71px
    }

    .loop_div .text_overlay_first p {
        margin-bottom: 1px !important;
        font-size: 13px
    }
}
@media(min-width:1300px) and (max-width:1400px) {

    .h_4,
    .red_text {
        font-family: Inter
    }

    .h_4,
    .main_h {
        font-weight: 300
    }

    .black_text,
    .h_4,
    .main_h {
        letter-spacing: -.02em
    }

    .n_arrow svg {
        width: 25px;
        height: 25px
    }

    .collaborate_ul img {
        width: 66px
    }

    .collaborate_ul h5 {
        font-family: Inter;
        font-size: 17px;
        color: #000;
        font-weight: 600
    }

    .collaborate_ul .main_p {
        font-size: 13px
    }

    .n_mt_0 {
        margin-top: 0 !important
    }

    .paint_vidio {
        height: 450px
    }

    .n_serivces_h2 {
        font-size: 27px !important
    }

    .mobile_1::before {
        content: "";
        left: -6%;
        bottom: -5%
    }

    .mobile_3::after {
        content: "";
        right: -4.5%;
        bottom: -4%
    }

    .black_text {
        line-height: 19.76px;
        font-size: 14.3px !important
    }

    .h_4 {
        line-height: 81px;
        font-size: 58px
    }

    .red_text {
        font-size: 17px;
        line-height: 19.2px;
        color: #ec310d
    }

    .h_2 {
        font-size: 70px;
        line-height: 79px
    }

    .ai_vidio {
        background: #000 !important;
        padding: 8px 14px
    }

    .ai_p br {
        display: none
    }

    .mobile_3 {
        padding-right: 0 !important
    }

    .vidio_cover {
        width: 135px;
        height: 285px
    }

    .ul_1 {
        height: 120.3% !important;
        overflow: hidden
    }

    .main_ul {
        height: 80vh
    }

    .vidio {
        width: 100%;
        height: 120vh;
        object-fit: cover
    }

    .color_img {
        width: 53%;
        height: 92vh;
        left: calc(50% - 24.5%);
        bottom: 8.2%
    }

    .c_arrow_mobile {
        width: 132px
    }

    .main_h {
        font-size: 62px;
        line-height: 54px
    }

    .loop_div .text_overlay_first p {
        margin-bottom: 1px !important;
        font-size: 10px
    }
}
@media(min-width:1200px) and (max-width:1300px) {

    .black_text,
    .h_2 {
        letter-spacing: -.02em
    }

    .small_vidio {
        height: 106px
    }

    .person_img {
        height: 324px
    }

    .paint_vidio {
        height: 524px
    }

    .join {
        font-size: 12px
    }

    .h_4 {
        line-height: 76px;
        font-size: 57px !important
    }

    .cleint_vidio {
        width: 314px !important;
        height: 320px
    }

    .h_2 {
        font-size: 61px;
        font-weight: 300;
        line-height: 69px;
        color: #000;
        font-family: Inter
    }

    .black_text {
        line-height: 19.76px;
        font-size: 13px !important
    }

    .client_box h1,
    .transparent_text {
        font-size: 29px
    }

    .h_3 {
        font-size: 28px
    }

    .main_p br {
        display: none
    }

    .web_type_ul h1 {
        font-size: 31px
    }

    .coluor_list_img {
        height: 35vh
    }

    .nav_ul_1 {
        margin-left: -4px
    }

    .vidio_cover {
        height: 34%
    }

    .btn_round {
        font-size: 11px
    }

    .camera_img {
        Width: 160px !important;
        Height: 78px
    }

    .flower_img {
        height: 400px
    }

    .simple_img {
        height: 156px
    }
}
@media(max-width:767px) {
    .audio-button .icon::before, .audio-button.playing .icon::before {
        content: '';
        width: 12.8vw !important;
        height: 12.8vw !important;
        background-size: 24px;
    }
    .audio-button {
        padding: 6px 17px 6px 8px;
    }

    .audio-button span {
        font-size: 4.3vw !important;
    }

    #scrolling-image,
    .vidio_col::before {
        left: 50%;
        transform: translateX(-50%)
    }

    .circular_img_li,
    .main_ul li:first-child {
        text-align: center
    }

    .ai_img_mbl,
    .n_arrow {
        position: unset !important
    }

    .ai_img_mbl .green_im,
    .ai_img_mbl .green_img {
        height: 100% !important
    }

    .black_section_main {
        margin-top: 4rem !important
    }

    .third_section {
        margin-top: 6rem !important
    }

    .loop_div .text_overlay_first p {
        font-size: unset !important
    }

    .pr_heading {
        font-size: 9vw
    }

    .laptop_img {
        height: 344px !important
    }

    .color_img {
        width: 92vw;
        height: 92vw !important;
        left: calc(50% - 46.5%);
        bottom: 55vw !important;
        transform: rotateX(180deg);
        backface-visibility: visible
    }

    .mbl_r_h-100,
    .n_services .card {
        height: auto !important
    }

    .ai_img,
    .ai_p br,
    .black_text br,
    .c_arrow_mobile,
    .domain_text br,
    .main_p a,
    .main_p br,
    .main_ul li:nth-child(2),
    .person_img,
    .servise_img,
    .technoloy_text,
    .text_overlay a,
    .transparent_text br,
    .vidio_overlay {
        display: none
    }

    .main_btn_div br,
    .main_h br,
    .menu,
    .n_services .card p {
        display: none !important
    }

    .transparent_text br:first-child,
    .transparent_text br:nth-child(2),
    .transparent_text br:nth-child(5),
    .ul_1 {
        display: block !important
    }

    #scrolling-image {
        Width: 110px;
        Height: 52px
    }

    .card_ul li video {
        height: 119px;
        border-radius: 25px
    }

    .vidio_col {
        padding-top: 15rem;
        position: relative;
        padding-left: 22px;
        padding-right: 22px
    }

    .black_card {
        background-color: #fff !important
    }

    .n_serivces_h2 {
        color: #000 !important;
        margin-top: 0 !important;
        margin-bottom: 0rem !important;
        padding-right: .5rem;
        font-size: 27px !important
    }

    .n_services {
        margin-bottom: 7rem !important;
        margin-top: 4rem
    }

    .n_services .card {
        border-radius: 0 !important;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .paint_overlay {
        top: -238px !important;
        background: #fff !important;
        border-radius: 13px;
        padding-left: 9px;
        padding-right: 9px;
        padding-top: .9rem
    }

    .n_services svg,
    .parent_vidio svg {
        width: 9vw;
        height: auto
    }

    .vidio_col::before {
        position: absolute;
        content: "";
        width: auto !important;
        background-color: #fcfbff;
        height: 14rem;
        top: 7%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px
    }

    .banner::after,
    .banner::before,
    .small_mobile::before {
        height: 97.2%;
        top: 0;
        content: "";
        position: absolute
    }

    .arrow_giff_7 {
        position: absolute;
        bottom: 10.4%;
        width: 36px;
        right: 12.3%;
        display: block;
        z-index: 1223321232
    }

    .host_ul li:first-child {
        width: 70%
    }

    .host_ul {
        align-items: center
    }

    .host_ul p {
        color: #a3a3a3 !important
    }

    .text_main_2 {
        margin-bottom: -19px !important
    }

    .subtract_img {
        width: 78px;
        height: 81.42px
    }

    .banner::before {
        width: 37%;
        border: 5px solid #fff;
        left: 0;
        z-index: 1;
        border-radius: 20px
    }

    .banner::after {
        width: 37%;
        border: 5px solid #fff;
        right: 0;
        z-index: 1;
        border-radius: 20px
    }

    .circular_img_li {
        margin: -25px auto auto;
        width: 31%
    }

    .layer_img_ul li:last-child span:first-child,
    .mb_container_m {
        margin-left: 0 !important
    }

    .client_box h1 {
        font-size: 20px;
        line-height: 44px;
        font-weight: 400;
        margin-bottom: 1rem
    }

    .small_mobile::before {
        width: 28%;
        border-top: 5px solid #fff;
        border-bottom: 5px solid #fff;
        border-radius: 20px;
        left: 36%
    }

    .client_box .h,
    .transparent_text {
        font-size: 32px;
        line-height: 41px
    }

    .p_5 {
        font-size: 18px;
        line-height: 25px
    }

    footer .client_box h1 {
        font-size: 6vw;
        line-height: 30px;
        letter-spacing: -.02em;
    }

    .f_text_main {
        left: 75%;
        top: 121px !important;
    }

    .person_img_sm {
        position: absolute;
        bottom: 19%;
        right: 3%;
        width: 32vw
    }

    .gr_colo_text {
        margin-bottom: .9rem;
        font-size: 32px;
        margin-top: 0;
        background: linear-gradient(to right, #fff 20%, #ec310d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
    }

    .mb_container_m {
        margin-right: 0 !important;
        width: 100% !important
    }

    footer .btn {
        font-size: 15px
    }

    .green_img {
        width: 100%;
        Height: 110px;
        border-radius: 4px !important;
        margin-top: 1rem
    }

    .card_1,
    .card_overlay_1 {
        border-radius: 22px !important;
        Width: 100%;
        Height: 123px
    }

    .host_ul li:last-child,
    .small_col {
        width: 100%
    }

    .banner,
    .border_row .h1,
    .vidio {
        position: relative
    }

    .border_row .col-md-4:first-child h1:before {
        content: "";
        position: absolute;
        border-top: 1px solid #dee2e6;
        width: 100%;
        left: 0;
        top: 4%
    }

    .border_row .col-md-4:nth-child(2) h1:before {
        content: "";
        position: absolute;
        border-top: 1px solid #dee2e6;
        width: 100%;
        left: 0;
        top: 33.1%
    }

    .border_row .col-md-4:nth-child(3) h1:before {
        content: "";
        position: absolute;
        border-top: 1px solid #dee2e6;
        width: 100%;
        left: 0;
        bottom: 33.1%
    }

    footer .col-md-7 {
        order: 6;
        padding-right: 20px
    }

    .change_p_1,
    .col_position_4,
    footer .col-md-5 {
        order: 2
    }

    .col_position_3,
    footer .col-md-12:last-child {
        order: 7
    }

    .col_position_2,
    footer .col-md-4:nth-child(4) {
        order: 4
    }

    footer .col-md-4:nth-child(5) {
        order: 3;
        height: 30px
    }

    .col_position_7,
    footer .col-md-4:nth-child(6) {
        order: 6
    }

    .card_overlay {
        border-radius: 26px
    }

    .mobile_1,
    .mobile_2,
    .mobile_3 {
        width: 100%;
        border: none;
        padding-left: 0 !important
    }

    .logo_ul_1,
    .logo_ul_2 {
        width: auto;
        margin-bottom: 9px !important
    }

    .stump_1 {
        top: -11vw !important;
        left: -.2%
    }

    .overlay {
        background-color: rgb(255 255 255 / 72%)
    }

    .change_p_2,
    .col_position_1 {
        order: 1
    }

    .btn_row {
        margin-top: -6rem
    }

    .vidio_cover {
        height: 102.5%
    }

    .main_ul {
        height: 30%;
        padding-right: 17px !important;
        z-index: 1;
        top: 27%
    }

    .contaner_width {
        width: 99%
    }

    footer .contaner_width {
        margin-bottom: 0 !important
    }

    .h_2 {
        font-size: clamp(2rem, 10vw, 19rem);
        line-height: 12.5vw !important
    }

    .ai_h {
        font-size: 13px
    }

    .red_text {
        font-size: 4.2vw;
        line-height: 19.36px
    }

    .ai_img_sm {
        position: absolute;
        bottom: 67px;
        width: 91% !important;
        left: 50.5%;
        transform: translateX(-51%);
        z-index: 1223343
    }

    .stump_1 .right_img {
        width: 20vw !important;
    }

    .stump_1 .circle_giff {
        width: 26vw !important;
        height: 26vw !important;
    }

    .circular_overlay,
    .small_vidio {
        width: 85px !important;
        border-radius: 20px
    }

    .circular_overlay {
        background-color: rgb(0 0 0 / 34%);
        left: 13px !important
    }

    .small_vidio {
        height: 85px
    }

    .black_text {
        font-size: 14px;
        line-height: 19.04px
    }

    .paint_vidio {
        height: 318px
    }

    .card_overlay_1,
    .card_ul li:nth-child(3) .card_overlay {
        border-radius: 9px;
        height: 12;
        display: grid !important;
        grid-gap: 34px
    }

    .h_3 {
        font-size: 32px;
        line-height: 38px;
        margin-top: -3px !important
    }

    .main_btn_div button {
        font-size: 12px
    }

    .card_ul li {
        width: 47% !important;
        margin-top: 1.5rem
    }

    .card_p {
        font-size: 22px !important;
        justify-content: space-between !important
    }

    .card_overlay_1 {
        color: #fff
    }

    .card_overlay_1 a {
        color: #fff !important;
        font-size: 14px
    }

    .card_overlay a {
        font-size: 14px
    }

    .card_ul {
        column-gap: 13px !important;
        padding-left: 11px !important;
        padding-right: 11px !important;
        justify-content: space-between
    }

    .card_ul li:nth-child(3) .card_overlay p:last-child {
        width: -webkit-fill-available !important;
        gap: 18px;
        white-space: normal
    }

    .card_ul li:nth-child(4) .card_overlay_1 p:last-child {
        width: 100% !important;
        align-items: center !important
    }

    .last_ctn_col {
        padding-top: 4rem
    }

    .btn_row button {
        margin-bottom: .7rem !important;
        font-size: 14px;
        line-height: 14px;
        padding-top: 6px;
        padding-bottom: 6px
    }

    .text_img {
        width: 59%
    }

    .main_p span {
        padding-left: 7vw;
        padding-right: 7vw
    }

    .web_type_ul h1 {
        font-size: 17px;
        line-height: 30px
    }

    .web_type_ul {
        gap: 6px;
        display: flex !important;
        flex-wrap: nowrap !important;
        width: 100% !important;
        justify-content: start !important
    }

    .c_mobile_scr {
        overflow-x: scroll
    }

    .main_h {
        margin-top: 12px !important;
        margin-bottom: 4px !important;
        font-size: 10vw !important;
        line-height: 11vw !important
    }

    .cleint_vidio {
        height: 311px !important
    }

    .coluor_list_img {
        height: 309px
    }

    .col_position_5 {
        order: 5;
        padding-top: 1rem
    }

    .col_position_6 {
        order: 8
    }

    .col_position_8 {
        order: 3
    }

    .col_position_7.border-top,
    .col_position_8.border-top,
    .col_position_9.border-top {
        border-top: 0 !important
    }

    .col_position_1.border-bottom {
        border-bottom: 0 !important
    }

    .col_position_9 {
        order: 9
    }

    .border_row::after {
        bottom: 33%
    }

    .border_row::before {
        top: 33%
    }

    .layer_img_ul {
        flex-wrap: wrap
    }

    .layer_img_ul li:last-child {
        justify-self: self-end;
        margin-top: 1rem
    }

    .main_p {
        font-size: 15px !important;
        line-height: 18.94px
    }

    .main_btn_div button:nth-child(6) {
        display: block
    }

    .main_btn_div button {
        margin-bottom: .9rem !important;
        margin-left: .2rem
    }

    .black_section_row {
        padding-left: 0;
        padding-right: 0
    }

    .black_section {
        border-radius: 0;
        padding-top: 2.5rem !important;
        padding-bottom: 4rem !important;
        overflow: hidden
    }

    .h_4 {
        font-size: 8.5vw;
        line-height: 12vw
    }

    .vector {
        right: 7vw;
        top: 6% !important
    }

    .hand_img {
        Height: 47px;
        right: 4vw;
        top: -1vw
    }

    .camera_img {
        Width: 82px !important;
        height: 46px;
        bottom: -5vw;
        right: 4vw;
    }

    .dark_btn {
        width: 253px;
        font-size: 17px;
        font-weight: 500 !important;
        margin-top: 2rem
    }

    .arrow_giff_1 {
        top: 12%
    }

    .vidio {
        border: 5px solid #fff;
        height: 99%;
        border-bottom: 19px solid #fff
    }

    .banner {
        margin-bottom: 2.5rem;
        height: 218vw
    }

    .sm_space_1,
    .sm_space_2 {
        position: absolute;
        top: 0;
        width: 37px;
        height: 11px;
        clip-path: polygon(0 0, 48% 98%, 100% 0)
    }

    .sm_space_1 {
        left: 31.5%;
        background-color: #fff
    }

    .sm_space_2 {
        left: 59%;
        background-color: #fff
    }

    .sm_space_3,
    .sm_space_4 {
        position: absolute;
        bottom: 19px;
        width: 37px;
        height: 11px;
        clip-path: polygon(0 100%, 100% 100%, 51% 0);
        background-color: #fff
    }

    .sm_space_3 {
        left: 59%
    }

    .sm_space_4 {
        left: 31.5%
    }
}